<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @RenderSection("pageMeta", false)
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Home.css" rel="stylesheet" />
        <link href="~/Content/HeaderAndFooter.css" rel="stylesheet" />
        <link href="~/Content/NavStyle.css" rel="stylesheet" />*@
    <link rel="shortcut icon" href="~/Content/Images/favicon-32x32.png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        /* GLOBAL STYLES -------------------------------------------------- */
        /* Padding below the footer and lighter body text */

        body {
            color: #5a5a5a;
        }

        #navbar {
            height: 120px;
            background-color: #303030;
        }

            #navbar img {
                width: 100%;
                position: absolute;
                bottom: 0;
            }

        #navbar-left {
            width: 100%;
            display: block;
        }

        #navbar-whole {
            display: none;
        }

        #navbar-border {
            background-color: #f79323;
            height: 15px;
            margin-bottom: 30px;
        }


        footer {
            background-color: #ec2029;
            height: 160px;
            color: #ffffff;
            padding-top:30px;
        }

        /* RESPONSIVE CSS
                -------------------------------------------------- */
        /*Extra small devices (portrait phones, less than 576px) */
        /* No media query since this is the default in Bootstrap*/

        /*Small devices (landscape phones, 576px and up)*/
        @@media (min-width: 576px) {
            #navbar {
                height: 160px;
            }

            #navbar-border {
                height: 20px;
            }

            #navbar-left {
                display: none;
            }

            #navbar-whole {
                display: block;
            }
        }

        /*Medium devices (tablets, 768px and up)*/
        @@media (min-width: 768px) {
        }

        /*Large devices (desktops, 992px and up)*/
        @@media (min-width: 992px) {
        }

        /*Extra large devices (large desktops, 1200px and up)*/
        @@media (min-width: 1200px) {
        }
    </style>
    @RenderSection("Styles", false)
    @RenderSection("GridStyles", false)
    @RenderSection("PageStyles", false)
</head>
<body>
    <div id="navbar" class="container-fluid row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-lg-10">
            <img id="navbar-left" src="~/Content/Images/navbar_left.png" />
            <img id="navbar-whole" src="~/Content/Images/navbar.png" />
        </div>
        <div class="col-1 hidden-md-down"></div>
    </div>
    <div id="navbar-border" class="container-fluid">
    </div>
    @RenderBody()

    <div id="deviderTwo" class="container-fluid">
        <img src="~/Content/Images/17-02.jpg" />
    </div>
    <footer>
        <div class="container text">
            <div class="row">
                <div class="col">
                    Openning hours:<br/>
                    Mon - Fri 9:30 to 5:30  Sat & Sun (by appointment)
                </div>
                <div class="col">
                    698E Great South Rd Penrose Auckland
                </div>
                <div class="col">
                    0800-511-888
                </div>
                <div class="col">
                    (09) 525 5585
                </div>
                <div class="col">info@e2print.co.nz</div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/fileupload.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("GridScripts", false)
    @RenderSection("DetailSripts", false)
    @RenderSection("PhotoScripts", false)
    @RenderSection("PageScripts", false)
</body>
</html>
