@using E2Print.Domain.Entities;

@model E2Print.WebUI.Models.HomeViewModel

@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}
@section pageStyles{
    <link href="~/Content/WOWSlider/engine1/style.css" rel="stylesheet" />
}
<div class="container" style="margin:30px 0px;z-index:0;">
    <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="~/Content/WOWSlider/data1/images/slider1.jpg" alt="" title="" id="wows1_0" /></li>
                <li><img src="~/Content/WOWSlider/data1/images/slider2.jpg" alt="slider bootstrap" title="" id="wows1_1" /></li>
                <li><img src="~/Content/WOWSlider/data1/images/slider3.jpg" alt="" title="" id="wows1_2" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title=""><span><img src="~/Content/WOWSlider/data1/tooltips/slider1.jpg" alt="" />1</span></a>
                <a href="#" title=""><span><img src="~/Content/WOWSlider/data1/tooltips/slider2.jpg" alt="" />2</span></a>
                <a href="#" title=""><span><img src="~/Content/WOWSlider/data1/tooltips/slider3.jpg" alt="" />3</span></a>
            </div>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">jquery carousel slider</a> by WOWSlider.com v8.2</div>
        <div class="ws_shadow"></div>
    </div>
    <!-- End WOWSlider.com BODY section -->
</div>
<div class="container category-group">
    @for (int i = 0; i < 3; i++)
    {
        var specialStyle = i == 0 ? "category-item-left" : "";
        var midStyle = i == 1 ? "promo-title-mid" : "";

        var imageUrl = "/Content/Images/PromotionHomePage/" + @Model.Promotions[i].ItemId + ".jpg";
        <a class="column-auto category-item category-item-style0  @specialStyle" href="/Category/Detail/@Model.Promotions[i].ItemId">
            <img src="@imageUrl" />
            @*<div class="promo-title @midStyle">
                    @Model.Promotions[i].Title
                </div>*@
            @*<div class="promo-intro">
                    @Model.Promotions[i].Description <span class="expireDate">( before @Model.Promotions[i].EndDate.ToLongDateString())</span>
                </div>*@
        </a>
    }
    <div style="clear:both"></div>
</div>
@foreach (Category category in Model.Categories)
{
    

}
@section pageScripts{
    <script type="text/javascript" src="~/Content/WOWSlider/engine1/jquery.js"></script>

    <script type="text/javascript" src="~/Content/WOWSlider/engine1/wowslider.js"></script>
    <script type="text/javascript" src="~/Content/WOWSlider/engine1/script.js"></script>
}