
@{
    ViewBag.Title = "All Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model  List<E2Print.WebUI.Models.CategoryViewModel>

@section styles{
    <style>
        div#allCategories {
        }
    </style>
}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
                    <li class="breadcrumb-item active">Categories</li>
                </ol>
            </div>
            <h4 class="page-title">Categories</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row" id="allCategories">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table id="datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th width="160px">Parent Category</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (E2Print.WebUI.Models.CategoryViewModel category in Model)
                    {
                        if (ViewData["CurrentCategory"]!=null && category.Id == (int)ViewData["CurrentCategory"])
                        {
                            <tr class="table-active">
                                <td>@(category.Id)</td>
                                <td>@(category.ParentCategory?.Name)</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td><a href="" class="deleteCategory" data-url="@Url.Action("DeleteCategory", "Category")" data-categoryid="@(category.Id)">Delete</a></td>
                                <td>@Html.ActionLink("Edit", "EditCategory", "Category", new { categoryId = category.Id }, null)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@(category.Id)</td>
                                <td>@(category.ParentCategory?.Name)</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td><a href="" class="deleteCategory" data-url="@Url.Action("DeleteCategory", "Category")" data-categoryid="@(category.Id)">Delete</a></td>
                                <td>@Html.ActionLink("Edit", "EditCategory", "Category", new { categoryId = category.Id }, null)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->



@section scripts
{
    <!-- Required datatable js -->
    <script src="~/Backend/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Backend/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();

            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });

        $(document).on('click', 'a.deleteCategory', function (e) {
            e.preventDefault();
            var result = confirm("Deleting category " + $(this).data('categoryid') + ". All products under this category will become orphan products. This can NOT be undone.");
            if (result) {
                var categoryId = $(this).data('categoryid');
                var url = $(this).data('url');
                var li = $(this).closest('tr');
                var postData = {
                    categoryId: categoryId
                };
                $.post(url, postData, function (e) {
                    if (e.Result === 'OK') {
                        li.remove();
                        alert('Categpry ' + categoryId + ' deleted');
                    }
                });
            }
        });

    </script>
}
