
@model E2Print.WebUI.Models.CategoryAndProductsViewModel

@{
    ViewBag.Title = Model.Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pageMeta{
    <meta name="desciption" content="@Model.Category.Description" />
}

<div class="main-wrapper single-package-right-sidebar">

    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(../../assets/img/pages/page-title-bg13.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 150px;">
                    <input type="hidden" id="products" value="@Json.Encode(Model.Products)" />
                    <input type="hidden" id="onsaleDiscount" value="@Model.Discount" />
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	PACKAGES SECTION
    ===================================== -->
    <section class="py-10">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-content">
                        <div class="">
                            <h2 class="text-uppercase mb-6">@Model.Category.Name</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-4 order-2">
                    <form class="" action="index.html" method="GET">
                        <div class="card border">
                            <h2 class="card-header text-uppercase text-center bg-smoke border-bottom">
                                Viarant
                            </h2>

                            <div class="card-body px-3 py-4">
                                <div class="border-bottom mb-5">
                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-4 col-form-label text-center text-xl-right px-2">
                                                Size:
                                            </label>
                                            <div class="col-xl-8">
                                                <div class="dropdown mb-6 mb-lg-0">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="size_bt" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Product Size
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        @foreach (var size in Model.Sizes)
                                                        {
                                                            <a class="dropdown-item" href="#">@size</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-4 col-form-label text-center text-xl-right px-2">
                                                Color:
                                            </label>
                                            <div class="col-xl-8">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="color_bt" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    Product Color
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    @foreach (var color in Model.Colors)
                                                    {
                                                        <a class="dropdown-item" href="#">@color</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-4 col-form-label text-center text-xl-right px-2">
                                                Material:
                                            </label>
                                            <div class="col-xl-8">
                                                <div class="dropdown mb-6 mb-lg-0">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="material_bt" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Product Material
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        @foreach (var mate in Model.Materials)
                                                        {
                                                            <a class="dropdown-item" href="#">@mate</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-4 col-form-label text-center text-xl-right px-2">
                                                Quantity:
                                            </label>
                                            <div class="col-xl-8">
                                                <div class="dropdown mb-6 mb-lg-0">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" id="pack_bt" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Buying Quantity
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        @foreach (var pack in Model.Packs)
                                                        {
                                                            <a class="dropdown-item" href="#">@pack</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex border-bottom mb-5 pb-5">
                                    <span class="text-uppercase h4 mb-0 pl-5 pr-5">Total cost</span>
                                    <span id="price" class="font-weight-bold text-primary h3 mb-0">$0.00</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div id="package-slider" class="owl-carousel owl-theme package-slider">
                        @for (int i = 0; i < Model.Photos.Count(); i++)
                        {
                            <div class="item">
                                <img src=@Model.Photos[i] alt="image">
                            </div>
                        }
                    </div>
                    <div class="mt-6">
                        <h2 class="text-uppercase mb-5">Description</h2>
                        <p class="mb-6 text-black">
                            @Model.Category.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div><!-- element wrapper ends -->
@section scripts{
    <script type="text/javascript">
        $(function () {

            $(".dropdown-menu").on('click', 'a', function () {
                $(this).parent('div.dropdown-menu').siblings('button').text($(this).text());
                CalculateTotal();
            });

        });

        function CalculateTotal() {
            var total = 0;
            var onsaleDiscount = $('#onsaleDiscount').val();
            var userDiscount = $('#userDiscount').val();
            var products = $.parseJSON($('#products').val());
            $.each(products, function (index, product) {
                var size = $('#size_bt').text();
                var color = $('#color_bt').text();
                var material = $('#material_bt').text();
                var buyingQty = $('#pack_bt').text();
                //alert(product.Size + ':' + size + '\n' + product.BuyingQty + ':' + buyingQty + '\n' + product.Color + ':' + color + '\n' + product.Material + ':' + material);
                if (product.Size == size && product.BuyingQty == buyingQty && product.Color == color && product.Material == material) {
                    total = product.Price;
                    $('.product-detail-id').text(product.Id);
                }
            });
            $('#price').text('$' + total.toFixed(2));
        }

    </script>
}